dj-database-url==0.4.1
Django==1.9.7
django-classy-tags==0.7.2
django-cms==3.2.5
django-formtools==1.0
django-jsonfield==0.9.19
django-mptt==0.8.4
django-reversion==1.10.2
django-sekizai==0.9.0
Django-Select2==4.3.2
django-treebeard==4.0.1
djangocms-admin-style==1.2.2
djangocms-column==1.6.0
-e git+git@github.com:Nekmo/djangocms-comments.git@9fb4eb6f2c5f06978bb207eecac4829fb28e2c1d#egg=djangocms_comments-master
djangocms-file==1.0
djangocms-googlemap==0.4.0
djangocms-highlightjs==0.5.0
djangocms-inherit==0.2.1
djangocms-installer==0.8.10
djangocms-link==1.7.2
djangocms-picture==0.2.0
djangocms-style==1.7.0
djangocms-teaser==0.2.0
djangocms-text-ckeditor==2.9.3
djangocms-video==1.0.0
html5lib==0.9999999
ordereddict==1.1
Pillow==3.2.0
pytz==2016.4
six==1.10.0
tzlocal==1.2.2
wheel==0.24.0
