django-cms<3.3
django-treebeard>=4.0

https://github.com/divio/djangocms-column/archive/master.zip?1465875692.897075
https://github.com/divio/djangocms-googlemap/archive/master.zip?1465875692.897075
https://github.com/divio/djangocms-inherit/archive/master.zip?1465875692.897075
# https://github.com/divio/djangocms-link/archive/master.zip?1465875692.897075
https://github.com/divio/djangocms-style/archive/master.zip?1465875692.897075
https://github.com/divio/djangocms-file/archive/master.zip?1465875692.897075
https://github.com/divio/djangocms-picture/archive/master.zip?1465875692.897075
https://github.com/divio/djangocms-teaser/archive/master.zip?1465875692.897075
https://github.com/divio/djangocms-video/archive/master.zip?1465875692.897075
djangocms-admin-style>=1.0.6
djangocms-text-ckeditor>=2.8.1,<3.0
Django<1.10
pytz
django-reversion>=1.10,<1.11
django-mptt<0.9
django-classy-tags>=0.3.4.1
html5lib
Pillow>=2.3
django-sekizai>=0.7
six
jsonfield
djangocms-highlightjs
django-registration
aldryn-bootstrap3
aldryn-newsblog
django-bootstrap3==1.0.10
django-phonenumber-field
django-extensions==1.6.7
django-bootstrap3-sass==3.3.2.2
fabric3

-e git+git@github.com:Nekmo/djangocms-bs3-theme.git@master#egg=djangocms_bs3_theme-master
-e git+git@github.com:Nekmo/djangocms-comments.git@master#egg=project_name-master