aldryn-apphooks-config==0.2.7
aldryn-boilerplates==0.7.4
aldryn-bootstrap3==1.0.10
aldryn-categories==1.0.3
aldryn-common==1.0.3
aldryn-newsblog==1.2.2
aldryn-people==1.2.1
aldryn-reversion==1.0.9
aldryn-translation-tools==0.2.1
Babel==2.3.4
backport-collections==0.1
cmsplugin-filer==1.0.1
dj-database-url==0.4.1
Django==1.9.7
django-appconf==1.0.2
django-appdata==0.1.5
django-bootstrap3==7.0.1
django-cities==0.4.2
django-classy-tags==0.7.2
django-cms==3.2.5
django-durationfield==0.5.2
django-extensions==1.6.7
django-filer==1.2.0
django-formtools==1.0
django-jsonfield==0.9.19
django-mptt==0.8.4
django-parler==1.6.4
django-phonenumber-field==1.1.0
django-polymorphic==0.8.1
django-registration==2.1.1
django-reversion==1.10.2
django-sekizai==0.9.0
Django-Select2==5.8.6
django-sortedm2m==1.3.0
django-taggit==0.19.1
django-treebeard==4.0.1
djangocms-admin-style==1.2.2
-e git+https://github.com/python-spain/djangocms-association.git@9a3eea5fbe990153478034be5c1f5cdfac98d89c#egg=djangocms_association-master
-e git+https://github.com/Nekmo/djangocms-bs3-theme.git@7d32befe27e5a4823d2f9923d15f9d65241b2647#egg=djangocms_bs3_theme-master
djangocms-column==1.6.0
-e git+https://github.com/Nekmo/djangocms-comments.git@9fb4eb6f2c5f06978bb207eecac4829fb28e2c1d#egg=djangocms_comments-dev
djangocms-file==1.0
djangocms-googlemap==0.4.0
djangocms-highlightjs==0.5.0
djangocms-inherit==0.2.1
djangocms-installer==0.8.10
djangocms-link==1.7.2
djangocms-picture==0.2.0
djangocms-style==1.7.0
djangocms-teaser==0.2.0
djangocms-text-ckeditor==2.9.3
djangocms-video==1.0.0
easy-thumbnails==2.3
ecdsa==0.13
Fabric3==1.11.1.post1
html5lib==0.9999999
lxml==3.6.0
ordereddict==1.1
paramiko==1.17.1
phonenumbers==7.4.3
phonenumberslite==7.4.3
Pillow==3.2.0
pipdeptree==0.6.0
psycopg2==2.6.1
pycrypto==2.6.1
python-dateutil==2.5.3
python-slugify==1.2.0
pytz==2016.4
six==1.10.0
tzlocal==1.2.2
Unidecode==0.4.19
wheel==0.24.0
YURL==0.13
