@import "variables";

.primary-background {
    background: $primary-background;
    color: $primary-background-color;
}

.secondary-background {
    background: $secondary-background;
    color: $secondary-background-color;
}

/* Vertical align for Bootstrap3 columns */
html:not(.cms-structure-mode-content){
    .vertical-align {
      display: flex;
      flex-direction: row;
    }

    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"] {
      display: flex;
      align-items: center;
      justify-content: center; /* Optional, to align inner items
                                  horizontally inside the column */
    }

    /**
     *  Do NOT include this part into your stylesheet.
     *  "flex: 1" or "flex-grow: 1" is added to make the inner div
     *  - Which is also a flex-item - take up all the horizontal space
     *  available space inside the flex container (.col-* elements)
     */
    .vertical-align > [class^="col-"] > div,
    .vertical-align > [class*=" col-"] > div {
      /* flex: 1; */
      flex-grow: 1;
    }
}