/* Boostrap */
$brand-primary: #847577;
$brand-info: #a6a2a2;

$font-family-sans-serif: 'Roboto';

$navbar-default-color: darken(#fff, 10%);
$navbar-default-link-color: $navbar-default-color;
$navbar-default-link-active-color: lighten($navbar-default-link-color, 5%);
$navbar-default-bg: lighten(#847577, 10%);

/* Icons */
$mdi-font-path: '../libs/mdi/fonts/';

/* Header */
$header-title-font-family: 'flux';
$header-subtitle-font-family: 'Roboto';
$header-background: #fbfbf2;
$header-title-color: lighten(#000, 20%);
$header-subtitle-color: lighten(#000, 40%);

$home-logo-size: 96px;
$home-title-size: 75px;
$home-subtitle-size: 18px;
$home-subtitle-margin-top: -15px;
$home-header-padding: 40px;
//$home-right-buttons-margin-left: 80px;
$home-right-buttons-margin: 20px;
$home-right-buttons-line-height: 120px;