/* Header */
$header-title-font-family: 'flux';
$header-subtitle-font-family: 'Roboto';
$header-background: #fbfbf2;
$header-title-color: lighten(#000, 20%);
$header-subtitle-color: lighten(#000, 40%);

$home-logo-size: 96px;
$home-title-size: 75px;
$home-subtitle-size: 18px;
$home-subtitle-margin-top: -15px;
$home-header-padding: 30px;
